html, body {
  height:100%;
  width:100%;
	background: url(https://lh6.googleusercontent.com/proxy/xP0-SXXW3tjFKIcWMYWWrIF5YuHL2bXituKXnszpA9Npk95pxsjxdLxCqHu99kcrz5EengvYqMQSZPDYZNg=w1200-h630-p-k-no-nu) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Sections of Layout
-------------------------------------- */
/* Generic styles for demo purposes
-------------------------------------- */
.container {
  font-family: Helvetica, Arial, sans-serif;
  height:98%;
  width:98%;
}

.container > * {
  background-color: #ccc;
  padding: 1em;
	border-radius: 50px;
}

/* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
.content {
  min-height: 40%;
  overflow-y: scroll;
	padding: 30px 80px 30px 80px;
}

/* Layout is stacked vertically by default (for narrower viewports), so give some breathing room between the sections. */
/* Select all elements where parent is a container */
.container > * {
  margin-bottom: 2%;
}

/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  .container > * {
    margin-bottom: 0;
  }
  /* Define the grid */
  .container {
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2% 2%;
    grid-template-rows: 10% auto 10%;
  }
  /* Place items on the grid */
  .header {
    grid-column: 1 / span 3;
		background: url();
		font-family: fantasy;
		font-weight: 900;
		font-size: 30px;
		font-style: italic;
		color: white;
  }
  .sidebar {
    grid-row-end: span 2;
		background: url(https://pbs.twimg.com/media/CXiHoJOUQAAwTa2.jpg);
  	background-size: contain;
  }
  .content {
    grid-column: 2;
		background: url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/04.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		color: #E8E3DE;
		font-size: 10px;
  }
  .footer {
		background-image: linear-gradient(to right, orange, yellow, green);
		text-align: center;
		padding: 40px;
  }
}

.center {
	text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
	font-family: fantasy;
	font-weight: 900;
	font-size: 20px;
	color: white;
}

.image {
	text-align: center;
	max-width: 100%;
}

.author {
	color: #E8E3DE;
	font-family: fantasy;
	font-size: 15px;
}
